<h1>Word Counter<h1>
<p>Your entered word is: @Model.GetWord().
<p>Your entered sentence is: @Model.GetSentence().
<p>There is/are @Model.GetCount() matched words in your sentence</p>


<form action="/words/new" method="Post">
  <button type="submit">Go Back</button>
</form>
