@{
Layout = "_Layout";
}

<div class="container">
<div class="container">
<div class ="jumbotron">
<h1>Word Counter<h1>
</div>
<p>Your entered word is: @Model.GetWord().<br>
<p>Your entered sentence is: @Model.GetSentence().<br>
<p>There is/are "@Model.CountWords()" matched word(s) in your sentence</p><br>

<form action="/words/new" method="Get">
  <button type="submit">Try Again</button>
</form>
</div>
