body
{
  background-color: lightblue;

}
.jumbotron
{
  background-color: lightpink;
  text-align: center;
  color: blue;

}

p
{
  font-family: sans-serif;
  color: blue;
  font-size: 18px;
}

a
{
  color: red;
  font-style: italic;
  text-align: center;
  font-size: 25px;
}

h1
{
  color: darkblue;
  font-family: sans-serif;
  text-align: center;
}
